body {
    padding-top: 50px;
}

.main {
	padding: 40px 15px;
	text-align: center;
}

.link {
	text-decoration: none;
	color: #999;
}

.link:hover {
	text-decoration: none;
	color: #fff;
}

.alertArea {
	top: 60px;
	left: 0px;
	position: absolute;
	z-index: 99;
	width: 150%;
}

.planner-cal-header {
    font-weight: bold;
    font-size: 1.5rem;
}

.afternoon {
    background-color: orange !important;
    border-color: orange !important;
}

.cursor-pointer {
    cursor: pointer;
}

.danger {
    color: #d9534f;
}

.modal-body {
    overflow-y: auto;
}

.selectPictureImg {
    height: 100px;
}

.dayactivityphoto {
    height: 150px;   
}

.thumbnail {
    position:relative;
    overflow:hidden;
}
 
.caption {
    position:absolute;
    top:-100%;
    right:0;
    background:rgba(66, 139, 202, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    text-align:center;
    color:#fff !important;
    z-index:2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.thumbnail:hover .caption {
    top:0%;
}
