<div class="alertArea">
    <div id="alertError" class="alert alert-danger collapse" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span id="message"></span>
    </div>
    <div id="alertSuccess" class="alert alert-success collapse" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span id="message"></span>
    </div>
</div>
