<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wesley Planner</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/fileinput/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
    <script src="/bootstrap/assets/js/vendor/jquery.min.js"></script>
    <script src="/js/templateBuilder.js"></script>
    <script src="/fileinput/js/fileinput.js" type="text/javascript"></script>
</head>
