<div class="modal modal-fullscreen fade" id="dlgEditPlanner" tabindex="-1" role="dialog" 
	    aria-labelledby="headerEditPlanner" aria-hidden="true">
	 <div class="modal-dialog">
	    <div class="modal-content">
	        <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        	<h4 class="modal-title" id="headerEditPlanner">Modal title</h4>
	      	</div>
	      	<div class="modal-body">
	      		<p>
		      	    <button type="button" class="btn btn-default" onClick="openCreateScheduleDialog()" aria-label="Add New">
					    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					    Add New
					</button>
                </p>
				<div class="list-group">
				    <a class="list-group-item planner-cal-header active">Sunday</a>
				    <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
				</div>
				<div class="list-group">
				    <a class="list-group-item planner-cal-header active">Sunday</a>
				    <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
				</div>
				<div class="list-group">
				    <a class="list-group-item planner-cal-header active">Sunday</a>
				    <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
				</div>
				<div class="list-group">
				    <a class="list-group-item planner-cal-header active">Sunday</a>
				    <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
				</div>
				<div class="list-group">
				    <a class="list-group-item planner-cal-header active">Sunday</a>
				    <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
				</div>
				<div class="list-group">
				    <a class="list-group-item planner-cal-header active">Sunday</a>
				    <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
				</div>
				<div class="list-group">
				    <a class="list-group-item planner-cal-header active">Sunday</a>
				    <a href="#" class="list-group-item">Dapibus ac facilisis in</a>				  
				</div>
	      	</div>
		    <!-- <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		     </div -->
	    </div>
	 </div>
</div>

{% include 'createScheduleDialog.html' %}

