<div id="plannerView" class="container collapse">
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Planners</h4></div>
        <div class="panel-body">
            <p>
                <button type="button" class="btn btn-default" aria-label="Left Align"
                    id="btnOpenDlgCreatePlanner">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create
                </button>
            </p>

            <ul id="listPlanners" class="list-group">
            </ul>
        </div>
    </div>
</div>

{% include 'createPlannerDialog.html' %}